{% extends 'base_myboot.html' %}
{% comment %} This is index page it will change the looks of home page {% endcomment %}

{% block title %}home{% endblock title %}

{% block body %}This is Index page will edit home{% endblock body %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Template Page</title>
</head>
<body>
    <p>This is Body of my sample page</p>
    <p>The value of a varible is {{ variable }}</p>
</body>
</html> {% endcomment %}

